# Monorepo CI and package managers manifests.
/.github/ @poocommerce/flux
**/composer.json @poocommerce/flux
**/package.json @poocommerce/flux

# Monorepo tooling folders.
/bin/ @poocommerce/flux
/tools/ @poocommerce/flux
/packages/js/eslint-plugin/ @poocommerce/flux
/packages/js/dependency-extraction-webpack-plugin/ @poocommerce/flux
/packages/js/e2e-utils-playwright/ @poocommerce/flux

# Files in root of repository
/.* @poocommerce/flux
/*.* @poocommerce/flux
/changelog.txt
/pnpm-lock.yaml

# Docs resources, which gets published to https://developer.poocommerce.com
/docs/ @poocommerce/developer-advocacy

# Interactivity API - public stores
/plugins/poocommerce/client/blocks/assets/js/base/stores/ @poocommerce/billow
/plugins/poocommerce/src/Blocks/Utils/BlocksSharedState.php @poocommerce/billow

# Core cart and checkout related files
/plugins/poocommerce/includes/class-wc-cart*.php @poocommerce/rubik
/plugins/poocommerce/includes/class-wc-checkout*.php @poocommerce/rubik
/plugins/poocommerce/includes/wc-cart-functions.php @poocommerce/rubik
/plugins/poocommerce/includes/class-wc-session-handler.php @poocommerce/rubik

# Store API related files
/plugins/poocommerce/src/StoreApi/ @poocommerce/rubik

# Cart Checkout Blocks
/plugins/poocommerce/client/blocks/assets/js/blocks/cart @poocommerce/rubik
/plugins/poocommerce/client/blocks/assets/js/blocks/cart-checkout-shared @poocommerce/rubik
/plugins/poocommerce/client/blocks/assets/js/blocks/checkout @poocommerce/rubik
/plugins/poocommerce/client/blocks/assets/js/blocks/mini-cart @poocommerce/rubik
/plugins/poocommerce/client/blocks/assets/js/blocks/order-confirmation @poocommerce/rubik
/plugins/poocommerce/client/blocks/packages/checkout @poocommerce/rubik

# Email Editor packages
/packages/js/email-editor/ @poocommerce/ballade
/packages/php/email-editor/ @poocommerce/ballade

# Email Editor integrations
/plugins/poocommerce/src/Internal/EmailEditor/ @poocommerce/ballade
/plugins/poocommerce/client/admin/client/wp-admin-scripts/email-editor-integration/ @poocommerce/ballade
