$foreground-color: var(--wp-admin-theme-color);
$task-alert-yellow: #f0b849;

.poocommerce-task-list__item {
	position: relative;
	display: grid;
	grid-template-columns: 72px auto 48px;

	// IE doesn't support `align-items` on grid container

	& > * {
		align-self: center;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 4px;
		height: 100%;
		background: transparent;
	}

	&.level-1 {
		&::before {
			background-color: $alert-red;
		}
		.gridicons-notice-outline {
			fill: $alert-red;
		}
	}

	&.level-2 {
		&::before {
			background-color: $task-alert-yellow;
		}
	}

	.poocommerce-task-list__item-title {
		color: $foreground-color;
		display: flex;
		column-gap: $gap-small;
		row-gap: $gap-smallest;
		flex-wrap: wrap;
	}

	.poocommerce-task-list__item-badge {
		padding: 0 10px;
		background-color: #f6f7f7;
		border-radius: 2px;
		color: $gray-800;
		font-size: 11px;
		font-weight: 500;
		line-height: 20px;
	}

	.poocommerce-task__additional-info,
	.poocommerce-task-list__item-expandable-content,
	.poocommerce-task__estimated-time {
		color: $gray-700;
		font-weight: 400;
		font-size: 12px;
	}

	.poocommerce-task__estimated-time {
		margin-top: $gap-smallest;
	}

	.poocommerce-task-list__item-before {
		display: flex;
		align-items: center;
		padding: $gap 0 $gap $gap-large;
	}

	.poocommerce-task-list__item-text {
		padding: $gap 0;

		.poocommerce-pill {
			padding: 1px $gap-smaller;
			margin-left: $gap-smaller;
		}
	}

	.poocommerce-task-list__item-expandable-content {
		margin-top: $gap-smallest;
		overflow: hidden;

		&.poocommerce-task-list__item-expandable-content-enter {
			opacity: 0;
		}

		&.poocommerce-task-list__item-expandable-content-enter-active {
			opacity: 1;
		}

		&.poocommerce-task-list__item-expandable-content-enter-done {
			opacity: 1;
		}

		&.poocommerce-task-list__item-expandable-content-exit {
			opacity: 1;
		}

		&.poocommerce-task-list__item-expandable-content-exit-active {
			opacity: 0;
		}

		.poocommerce-task__additional-info {
			margin-top: $gap-smaller;
		}
	}

	.poocommerce-task-list__item-action {
		margin-top: $gap-smaller;
		margin-bottom: $gap-smallest;
		display: block;
	}

	.poocommerce-task-list__item-after {
		display: flex;
		align-items: center;
	}

	.poocommerce-task-list__item-before .poocommerce-task__icon {
		border-radius: 50%;
		width: 32px;
		height: 32px;
	}

	.poocommerce-task-list__item-before .poocommerce-task__icon svg {
		fill: $white;
		position: relative;
		top: 4px;
		left: 5px;
	}

	&.complete {
		.poocommerce-task__icon {
			background-color: var(--wp-admin-theme-color);
		}

		.poocommerce-task-list__item-title {
			color: $gray-700;
		}

		.poocommerce-task-list__item-expandable-content,
		.poocommerce-task__estimated-time {
			display: none;
		}
	}

	&:not(.complete) {
		.poocommerce-task__icon {
			border: 1px solid $gray-100;
			background: $white;
		}
	}

	.components-tooltip .components-popover__content {
		width: 160px;
		white-space: normal;
	}

	.poocommerce-task-card__section-controls {
		text-align: left;
	}
}
